:root {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
